################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Release
/.vs/EManagersLib/v16
/obj
/packages
/packages.config
